@model List<GlobalSetting>

@{
    ViewBag.Title = "Settings";
}
@if (Request.IsAuthenticated)
{
    @Html.Partial("_MaintenancePartial")
    <head>
        <link rel="stylesheet" type="text/css" href="~/Content/Site.css">
    </head>
    <aside style="margin-top:10px">
        <div class="panel">
            <div style="margin-left: 20px">
                <h4>Maintenance > Global Settings</h4>
            </div>
            @using (Html.BeginForm())
            {
                <input style="margin-left:18px; margin-top:2px; width:90px" class="btn btn-success" type="submit" id="SubmitSettings" value="Submit" />
                <table class="table">
                    <thead>
                        <tr style="font-size:14px">
                            <th>Setting</th>
                            <th>Description</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr style="font-size:14px">
                                <td width="10%">@item.GlobalSettingsName</td>
                                <td width="50%">@item.GlobalSettingsDescription</td>
                                <td width="20%"><input class="form-control" type="number" value=@item.GlobalSettingsValue /></td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </aside>
}

