<div class="menu">
    <div id="nav" class="nav group page__nav">
        <div class="group">
            <button class="dropbtn" onclick="location.href='@Url.Action("Index", "Home")'">Home</button>
            @*<button class="dropbtn" onclick="javascript:history.go(-1)">Back</button>*@
            <button class="dropbtn" onclick="location.href='@Url.Action("Allergens", "Nutrition")'">Allergens</button>
            <button class="dropbtn" onclick="location.href='@Url.Action()'">Raw Material</button>
        </div>
    </div>
</div>


