<div class="menu">
    <div id="nav" class="nav group page__nav">
        <div class="group">
            <button class="dropbtn" onclick="location.href='@Url.Action("Index", "Home")'">Home</button>
            <button class="dropbtn" onclick="location.href='@Url.Action()'">Maintenance</button>
        </div>
    </div>
</div>